<html>
<head>
<meta charset='utf-8'>
<title>中国银行</title>
</head>

<body>
<h1>中国银行</h1>

{% if hasLogin %}
<h2>1. 基本信息</h2>
<h3>你好, {{user.name}}，你的账户剩余 {{user.amount}} 元</a></h3>
<h2>2. 转账</h2>
<form action="/transfer" method="POST">
  <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
  <input type="text" name="name" placeholder="接收用户" />
  <input type="text" name="amount" placeholder="转账数量" />
  <input type="submit" name="submit" value="转账">
</form>
<h2>3. 退出</h2>
<form action="/logout" method="POST">
  <input type="submit" name="submit" value="退出">
</form>
{% else %}
<h2>登录</h2>
<form action="/login" method="POST">
  <input type="text" name="name" placeholder="用户" />
  <input type="password" name="password" placeholder="密码" />
  <input type="submit" name="submit" value="登录">
</form>
{% endif %}

</body>
</html>